html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
}